*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
	background-color: #67CED4;
	font-family: "M PLUS 1p", sans-serif;


}
/* Encabezado y Navbar */
nav{
	width: 100%;
	height: auto;
	background-color: #364F6B;
	display: flex;
	flex-wrap: wrap;
	overflow: hidden;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1;
	justify-content: space-between;
}
#telefono,
#rrss{
	width: auto;
	height: auto;
	background-color: white;
	display: flex;
	justify-content: center;
	align-items: center;
}
#telefono{
	margin-left: 102px;
}
#logo{
	width: 538px;
	height: 211px;
	background-color: darkgrey;
	display: flex;
	justify-content: center;
	align-items: center;
	
}
#rrss{
	margin-right: 102px;
}
#iconTelefono,
#iconFacebook,
#iconInstagram,
#iconTiktok{
	width: 20px;
	height: 20px;
	background-color: darkgrey;
	margin-right: 7px;
	display: flex;
	justify-content: center;
	align-items: center;
}

#NavBar{
	position: relative;
	width: 100%;
	height: auto;
	overflow: hidden;
	color: white;
	font-size: 26px;
	display: flex;
	justify-content: center;


}
#NavBar a {
    display: inline-block; 
    padding-right: 20px; 
    text-decoration: none;
    color: inherit;
}
#NavBar a:last-child {
    padding-right: 0; 
}
#NavBar a:hover{
	color: inherit;
	text-decoration: none;
}
.ElementoNavbar{
	list-style: none;
	display: inline-block;
	margin: 0 90px;	
}

#HeroImage{
	background-color: rgb(243, 223, 134);
	width: 100%;
	height: 1076px;
	margin-top: 240px;
}

#TituloSubtituloHeroimage{
	font-family: "M PLUS Rounded 1c", sans-serif;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	height: 100%;

}
#TituloHeroImage{
	font-size: 70px;
	color: white;
	-webkit-text-stroke: 1px black;
}
#SubtituloHeroImage {
	font-size: 40px;
	color: white;
	-webkit-text-stroke: 0.5px black;
}
#SeccionConocenos{
	width: 100%;
	height: auto;
	margin: auto;
	padding-top: 30px;
	padding-bottom: 30px;


}
#TituloConocenos{
	font-size: 40px;
	display: flex;
	justify-content: center;
	font-family: "M PLUS Rounded 1c", sans-serif;
	font-size: 46px;
	display: flex;
	justify-content: center;
	align-items: center;
	text-decoration: underline;
}
#TextoConocenos{
	padding-left: 215px;
	padding-right: 215px;
	padding-top: 50px;
	font-size: 32px;
	text-align: justify;
}
#SeccionServicios{
	width: 100%;
	height: 1068px;
	background-color: rgb(243, 223, 134);
	margin: auto;
	padding-top: 30px;
	padding-bottom: 30px;
}
#TituloServicios{
	margin-top: 50px;
	font-size: 40px;
	display: flex;
	justify-content: center;
	font-family: "M PLUS Rounded 1c", sans-serif;
	font-size: 46px;
	display: flex;
	justify-content: center;
	align-items: center;
	text-decoration: underline;
}
#ContenedorServicios{
	width: 1450px;
	height: 660px;
	margin-top: 125px;
	background-color: whitesmoke;
	margin-left: auto;
	margin-right: auto;
	overflow: hidden;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.servicios{
	width: 380px;
	height: 300px;
	text-align: center;
	border-style: solid;
	float: left;
}
.imgServicios{
	width: 100%;
	height: 250px;
	background-color: darkgrey;
}
#SeccionContacto{
	width: 100%;
	height: auto;
	margin: auto;
	padding-top: 30px;
	padding-bottom: 30px;
}
#TituloContacto{
	font-size: 40px;
	display: flex;
	justify-content: center;
	font-family: "M PLUS Rounded 1c", sans-serif;
	font-size: 46px;
	display: flex;
	justify-content: center;
	align-items: center;
	text-decoration: underline;
}
#Mapa{
	margin-top: 50px;
	margin-left: 60px;
	margin-right: 60px;
	width: 100%;
	height: 600px;
	display: flex;
	
}
#ImgMapa{
	margin: 0 auto;
}
#TituloFormulario{
	padding-top: 50px;
	padding-left: 60px;
	font-weight: bold;
	text-decoration: underline;
	font-size: 25px;
	width: 100%;
	height: auto;
}
#ContenedorContacto{
	width: 100%;
	height: auto;
	padding-top: 10px;
	padding-left: 15px;
	display: flex;
}
#Formulario{
	width: 50%;
	height: auto;
	margin-left: 50px;
}
#datosContacto{
	width: 50%;
	height: auto;
}
.bold{
	font-weight: bold;
}
#botonEnviar{
 	margin-top: 10px;
 	margin-left: 64px;
 	width: 80px;
 	height: 40px;
 	border-radius: 10%;
 	background-color: #364F6B;
 	color: white;
 }
#footer div {
    display: inline-block; 
    padding-right: 60px; /
}
#footer div:last-child {
    padding-right: 0; /* Elimina el espacio interno del último elemento */
}
#footer{
	width: 100%;
	height: 90px;
	background-color: #364f6b;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-right: 20px;
	color: white;
	font-size: 26px;
}

