*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
	background-color: #67CED4;
	font-family: "M PLUS 1p", sans-serif;


}
/* Encabezado y Navbar */
nav{
	width: 100%;
	height: auto;
	padding-left: 112px;
	padding-right: 112px;
	background-color: #364F6B;
	display: flex;
	flex-wrap: wrap;
	overflow: hidden;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1;
}
#telefono{
	width: 351px;
	font-size: 40px;
	display: flex;
	justify-content: center;
	align-items: center;
}
#rrss{
	width: 351px;
	height: auto;
	display: flex;
	justify-content: right;
	align-items: center;
}
#logo{
	width: 975px;
	height: 211px;
	display: flex;
	justify-content: center;
	align-items: center;
}
#logo img{
	width: 538px;
	height: 211px;
	border-radius: 43px;
	margin: 0 auto;
}
#iconFacebook img{
	border: 5px solid white;
	border-radius: 30px;
}
#iconInstagram img,
#iconTiktok img{
	border: 5px solid white;
	border-radius: 40px;
}



#NavBar{
	position: relative;
	width: 100%;
	height: auto;
	overflow: hidden;
	color: white;
	font-size: 48px;
	display: flex;
	justify-content: center;
}
#NavBar a {
    display: inline-block; 
    padding-right: 20px; 
    text-decoration: none;
    color: inherit;
}
#NavBar a:last-child {
    padding-right: 0; 
}
#NavBar a:hover{
	color: inherit;
	text-decoration: none;
}
.ElementoNavbar{
	list-style: none;
	display: inline-block;
	margin: 0 90px;	
}

#HeroImage{
	background-color: rgb(243, 223, 134);
	width: 100%;
	height: 1076px;
	margin-top: 240px;
	background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), url(../Media/HeroImage.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}

#TituloSubtituloHeroimage{
	font-family: "M PLUS Rounded 1c", sans-serif;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	height: 100%;
}
#TituloHeroImage{
	font-size: 96px;
	color: white;
	-webkit-text-stroke: 1px black;
}
#SubtituloHeroImage {
	font-size: 64px;
	color: white;
	-webkit-text-stroke: 0.5px black;
}
#SeccionConocenos{
	width: 100%;
	height: auto;
	margin: auto;
	padding-top: 30px;
	padding-bottom: 30px;


}
#TituloConocenos{
	font-size: 40px;
	display: flex;
	justify-content: center;
	font-family: "M PLUS Rounded 1c", sans-serif;
	font-size: 46px;
	display: flex;
	justify-content: center;
	align-items: center;
	text-decoration: underline;
}
#TextoConocenos{
	width: 1450px;
	height: auto;
	padding-top: 50px;
	font-size: 32px;
	text-align: justify;
	margin: 0 auto;
}
#SeccionServicios{
	width: 100%;
	height: 1068px;
	background-color: rgb(243, 223, 134);
	margin: auto;
	padding-top: 30px;
	padding-bottom: 30px;
}
#TituloServicios{
	margin-top: 50px;
	font-size: 40px;
	display: flex;
	justify-content: center;
	font-family: "M PLUS Rounded 1c", sans-serif;
	font-size: 46px;
	display: flex;
	justify-content: center;
	align-items: center;
	text-decoration: underline;
}
#Pestanas{
	width: 1171px;
	height: 71px;
	margin: 0 auto;
	margin-top: 33px;
	overflow: hidden;
}
.EtiquetaPestanas{
	width: 33.33%;
	font-size: 40px;
	color: white;
	float: left;
	text-align: center;
}
#ContenedorServicios{
	width: 1450px;
	height: 660px;
	margin-top: 44px;
	background-color: whitesmoke;
	margin-left: auto;
	margin-right: auto;
	overflow: hidden;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.servicios{
	width: 380px;
	height: 300px;
	text-align: center;
	border-style: solid;
	float: left;
}
.imgServicios{
	width: 100%;
	height: 250px;
	background-color: darkgrey;
}
.imgServicios img{
	width: 100%;
	height: 250px;
}
#SeccionContacto{
	width: 100%;
	height: auto;
	margin: auto;
	padding-top: 30px;
	margin-bottom: 730px;

}
#TituloContacto{
	font-size: 40px;
	display: flex;
	justify-content: center;
	font-family: "M PLUS Rounded 1c", sans-serif;
	font-size: 46px;
	display: flex;
	justify-content: center;
	align-items: center;
	text-decoration: underline;
}
#Mapa{
	margin-top: 50px;
	width: 1720px;
	height: 600px;
	margin: 0 auto;

}

#TituloFormulario{
	padding-top: 50px;
	padding-left: 102px;
	font-weight: bold;
	text-decoration: underline;
	font-size: 48px;
	width: 100%;
	height: auto;
}
#ContenedorContacto{
	width: auto;
	height: auto;
	padding-top: 10px;
	margin-left: 102px;
	margin-right: 102px;
	display: flex;
	font-size:48px;
	justify-content: space-between;
}
#Formulario{
	width: 875px;
	height: auto;
}
#datosContacto{
	width: 730px;
	height: auto;
	float: right;
}
.bold{
	font-weight: bold;
}
#botonEnviar{
 	margin-top: 10px;
 	margin-left: 102px;
 	width: 201px;
 	height: 90px;
 	border-radius: 10%;
 	background-color: #364F6B;
 	color: white;
	font-size: 48px;
 }
input{
	width: 871px;;
	height: 72px;
}
textarea{
	width: 871px;;
	height: 297px;
}



#footer div {
    display: inline-block; 
    padding-right: 60px; /
}
#footer div:last-child {
    padding-right: 0; /* Elimina el espacio interno del último elemento */
}
#footer{
	width: 100%;
	height: 174px;
	background-color: #364f6b;
	display: flex;
	justify-content: center;
	align-items: center;
	color: white;
	font-size: 48px;
	text-decoration: none;
}
#footer ul{
	list-style-type: none;
	padding: 0;
	text-align: center;
	display: flex;
	justify-content: space-between;
	width: 100%;
	padding-left: 102px;
	padding-right: 102px;
}
#footer ul li{
	display: inline-block;
	margin: 0 10px;
}